md-tab-group{
  display:flex;
  transform:rotate(180deg);
  .mat-tab-labels{
    flex-direction: row-reverse;
    & > div{
      display:flex;
      align-items: center;
      justify-content: center;
      transform: rotate(180deg);
    }
  }
  md-tab-header{
  }
  md-tab-body{
    transform:rotate(180deg);
    padding:20px;
  }
}

.mat-tab-body-wrapper{
  flex:1;
}
